// importo i partials
@import './partials/variables.scss';
@import './partials/mixin.scss';

// importo bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

body{
    background-color: #ecedee;
    cursor: url('/img/icons8-brain-30.png'), auto;
}

.bg-bezz{
    background-color: #ecedee;
}